@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05041a;
  background-image: linear-gradient(160deg, #05041a 0%, #090924 100%);
  color: #e8eaf6;
}

*, *::before, *::after { box-sizing: border-box; }
